* {
  font-family: "FuturaStd-CondensedLight", sans-serif;
}

.page-container {
  overflow: hidden;
}

.nav-branding {
  font-family: "BodegaSans-Light", sans-serif;
}

@font-face {
  font-family: FuturaStd-CondensedLight;
  src: local("FuturaStd-CondensedLight"),
    url("../fonts/FuturaStd-CondensedLight.otf") format("opentype");
}

@font-face {
  font-family: BodegaSans-Light;
  src: local("BodegaSans-Light"),
    url("../fonts/BodegaSans-Light.ttf") format("truetype");
}

nav.navbar {
  padding: 0px !important;
  margin-top: 0px !important;
}

.nav-items {
  margin-top: 110px;
  background-color: #a69a95 !important;
  width: 100%;
}

a.nav-link {
  background: "#a69a95" !important;
  color: white !important;
}

.nav-link.active {
  color: black !important;
}

.title-image {
  width: 400px;
  margin-top: 35px;
  margin-left: 50px;
}

.sidebar-images {
  margin-top: 25px;
  padding-bottom: 20px;
}

.home-row {
  width: 100%;
}

.home-container {
  background-color: #a69a95;
  height: calc(100vh - 200px);
  overflow: auto;
}

.image-container {
  margin: 20px 20px 20px 50px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  max-height: 75px;
  line-height: 50px;
  text-align: center;
}
